{% extends 'base.html' %}

{%load static %}

{% block content %}

{% include 'nav_bar.html' %}
<body style="background-color:lightgrey">
<h1 style="margin-left:500px;margin-right:650px;background-color:green;color:yellow;"><sub>About Mystore</sub> </h1>
<sub style="margin-left:500px;color:blue">Celebrate the season. This is your store</sub>
<h2 style="margin-left:100px;margin-right:100px;background-color:lightgreen">
    A fruit stand is a primarily open-air
    and various processed items derived from fruit.
    Our business venue that sells seasonal fruit and
    many fruit products from local growers.
    We also sell vegetables
</h2>

<h2 style="margin-left:100px;margin-right:100px;background-color:lightgreen">
 Most fruits are naturally low in fat,
 sodium and calories. None have cholesterol.
 Fruits are sources of many essential nutrients
 that are under consumed, including potassium,
 dietary fiber, vitamin C, and folate (folic acid).
 Diets rich in potassium may help to maintain healthy blood
 pressure.
</h2>

<h2 style="margin-left:100px;margin-right:100px;background-color:lightgreen">
 We sell thoser fruits and vegetables
 which are a good source of vitamins and minerals,
 including folate, vitamin C and potassium.
 They're an excellent source of dietary fibre,
 which can help to maintain a healthy gut and
 prevent constipation and other digestion problems.
 A diet high in fibre can also reduce your risk of
 bowel cancer
</h2>
<h2 style="margin-left:100px;margin-right:100px;background-color:lightgreen">
Out store is a store that primarily
    sells fruits, vegetables and also some other food items
    but also deliver some other household items.

    You can use our service as grocery store
    and carry a wider selection of items.
</h2>

<h2 style="background-color:yellow;color:red;margin-left:150px;margin-right:150px">

    Thanks for visiting us.
    Please register to get your orders
    Once registered, Login to go your orders.

</h2>
<h1 style="background-color:yellow;color:blue;margin-left:500px;margin-right:500px">HAVE A GREAT DAY</h1>
</body>
{% endblock content %}