{% extends 'base.html' %}

{% block title %}
<title>Mystore</title>

{% endblock title %}

{% block content %}

{% include 'nav_bar.html' %}
<body style="background-color:lightgrey">
<div class="mbody">

    <div class="centered">

       <h1>Welcome to Mystore for FRUITS </h1>

       <h1> Mystore keep open services as your needs</h1>

       <h1> EAT LESS FROM BOX AND MORE FROM THE EARTH </h1>

        <h1> We are here to give services to you </h1>

        <h1>Why waiting , register here and order</h1>

        <h1> We make your order get ready
                and deliver to home</h1>
    </div>
</div>
</body>
{% endblock content %}
