{% extends 'base.html' %}

{% load static %}

{% block content  %}
{% include 'nav_bar.html' %}
<body style="background-color:lightgrey">
<form style="margin-left:250px" method="POST" action="{% url 'confirm' %}">
    {% csrf_token %}
    <input type="hidden"  name="username" value="{{username}}">
    <h1 style="margin-left:200px;margin-bottom:0px"> Your items summary </h1>
    <div class="items-wrapper" style="height:auto;margin-bottom:20px">
        <div style="margin-top:10px;width:200px;height:auto">
            <h2>Items</h2> <br>
            {% for item in items %}
            {{ item }} <br>
            {% endfor %}
        </div>

        <div style="margin-top:10px;width:200px;height:auto">
            <h2>Price/kg</h2>   <br>
            {% for price in aprices %}
            {{ price }} <br>
            {% endfor %}
        </div>

        <div style="margin-top:10px;width:200px;height:auto">
            <h2>Weight Chosen</h2>  <br>
            {% for weight in weights %}
            {{ weight }} <br>
            {% endfor %}
        </div>

        <div style="margin-top:10px;width:200px;height:auto">
            <h2>Items Price</h2>   <br>
            {% for cost in costs %}
            {{ cost }} <br>
            {% endfor %}
        </div>
    </div>
    <div style="margin-top:10px;width:auto;height:auto">
        <h2>Total Price &nbsp;&nbsp;{{ totcost }}</h2>
    </div>
    <input type="submit" value="Confirm">
</form>
</body>

{% endblock %}